<div id="cusdis_thread"
  data-host="https://cusdis-kappa.vercel.app"
  data-app-id="0426ec81-2568-48f0-91d5-58314ae70ac3"
  data-page-id="{{ page.id }}"
  data-page-url="{{ site.url }}{{ page.url }}"
  data-page-title="{{ page.title }}"
></div>
<script defer src="https://cusdis-kappa.vercel.app/js/widget/lang/zh-cn.js"></script>
<script async defer src="https://cusdis-kappa.vercel.app/js/cusdis.es.js"></script>                            
<noscript>Please enable JavaScript to view the comments.</noscript>
